<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="design.wendreo.hashisushi">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="design.wendreo.hashisushi.utils.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="design.wendreo.hashisushi.views.policyPrivacy.ActPolicyPrivacy" />
        <activity android:name="design.wendreo.hashisushi.views.ActWait" />
        <activity android:name="design.wendreo.hashisushi.views.ActLogin" />
        <activity android:name="design.wendreo.hashisushi.views.ActOrder" />
        <activity android:name="design.wendreo.hashisushi.views.ActSignup" />

        <activity android:name="design.wendreo.hashisushi.views.ActPromotion" />
        <activity android:name="design.wendreo.hashisushi.views.ActPoints" />
        <activity android:name="design.wendreo.hashisushi.views.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActSaleCardap"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActPlatHot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActPlatHot" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActPlatHot"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActPlatAce">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.ActPoints" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActPlatAce"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActTemakis">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActTemakis" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActTemakis"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActCombo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActCombo" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActCombo"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActPortions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActPortions" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActPortions"
            android:parentActivityName="design.wendreo.hashisushi.views.cardap.ActDrinks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActDrinks" />
        </activity>
        <activity
            android:name="design.wendreo.hashisushi.views.cardap.ActDrinks"
            android:parentActivityName="design.wendreo.hashisushi.views.ActOrder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="design.wendreo.hashisushi.views.cardap.ActDrinks" />
        </activity>
    </application>

</manifest>