<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hashisushi">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.hashisushi.utils.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                  android:value="@string/facebook_app_id"/>
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter> </activity>


        <activity android:name="com.example.hashisushi.views.ActRegProd" />
        <activity android:name="com.example.hashisushi.views.ActLogin"/>
        <activity android:name="com.example.hashisushi.views.ActOrder" />
        <activity android:name="com.example.hashisushi.views.ActSignup" />
        <activity android:name="com.example.hashisushi.views.ActPromotion" />
        <activity android:name="com.example.hashisushi.views.ActPoints" />
        <activity android:name="com.example.hashisushi.views.ActSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.hashisushi.views.ActSaleCardap"
            android:parentActivityName="com.example.hashisushi.views.cardap.ActPlatHot">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.cardap.ActPlatHot" />
        </activity>
        <activity
            android:name="com.example.hashisushi.views.cardap.ActPlatHot"
            android:parentActivityName="com.example.hashisushi.views.cardap.ActPlatAce">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.ActPoints" />
        </activity>
        <activity
            android:name="com.example.hashisushi.views.cardap.ActPlatAce"
            android:parentActivityName="com.example.hashisushi.views.cardap.ActTemakis">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.cardap.ActTemakis" />
        </activity>
        <activity
            android:name="com.example.hashisushi.views.cardap.ActTemakis"
            android:parentActivityName="com.example.hashisushi.views.cardap.ActCombo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.cardap.ActCombo" />
        </activity>
        <activity
            android:name="com.example.hashisushi.views.cardap.ActCombo"
            android:parentActivityName="com.example.hashisushi.views.cardap.ActDrinks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.cardap.ActDrinks" />
        </activity>
        <activity
            android:name="com.example.hashisushi.views.cardap.ActDrinks"
            android:parentActivityName="com.example.hashisushi.views.ActOrder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.hashisushi.views.cardap.ActDrinks" />
        </activity>
    </application>

</manifest>